<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AEacute</key>
	<string>A_E_acute.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresis.ss07</key>
	<string>A_dieresis.ss07.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccircumflex</key>
	<string>C_circumflex.glif</string>
	<key>Cdotaccent</key>
	<string>C_dotaccent.glif</string>
	<key>Cdotaccent.ss07</key>
	<string>C_dotaccent.ss07.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Delta</key>
	<string>D_elta.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ebreve</key>
	<string>E_breve.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.ss07</key>
	<string>E_dieresis.ss07.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Edotaccent.ss07</key>
	<string>E_dotaccent.ss07.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Etilde</key>
	<string>E_tilde.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcircumflex</key>
	<string>G_circumflex.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>Gcommaaccent.ss07</key>
	<string>G_commaaccent.ss07.glif</string>
	<key>Gdotaccent</key>
	<string>G_dotaccent.glif</string>
	<key>Gdotaccent.ss07</key>
	<string>G_dotaccent.ss07.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>Gmacron</key>
	<string>G_macron.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>Hcircumflex</key>
	<string>H_circumflex.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Ibreve</key>
	<string>I_breve.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idieresis.ss07</key>
	<string>I_dieresis.ss07.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Idotaccent.ss07</key>
	<string>I_dotaccent.ss07.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jacute</key>
	<string>J_acute.glif</string>
	<key>Jcircumflex</key>
	<string>J_circumflex.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>Kcommaaccent.ss07</key>
	<string>K_commaaccent.ss07.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcaron.ss07</key>
	<string>L_caron.ss07.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Lcommaaccent.ss07</key>
	<string>L_commaaccent.ss07.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>Ldot.ss07</key>
	<string>L_dot.ss07.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ncommaaccent.ss07</key>
	<string>N_commaaccent.ss07.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Obreve</key>
	<string>O_breve.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Odieresis.ss07</key>
	<string>O_dieresis.ss07.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Oslash.ss03</key>
	<string>O_slash.ss03.glif</string>
	<key>Oslashacute</key>
	<string>O_slashacute.glif</string>
	<key>Oslashacute.ss03</key>
	<string>O_slashacute.ss03.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.ss03</key>
	<string>Q_.ss03.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.ss01</key>
	<string>R_.ss01.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Racute.ss01</key>
	<string>R_acute.ss01.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcaron.ss01</key>
	<string>R_caron.ss01.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>Rcommaaccent.ss01</key>
	<string>R_commaaccent.ss01.glif</string>
	<key>Rcommaaccent.ss01.ss07</key>
	<string>R_commaaccent.ss01.ss07.glif</string>
	<key>Rcommaaccent.ss07</key>
	<string>R_commaaccent.ss07.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scircumflex</key>
	<string>S_circumflex.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>Scommaaccent.ss07</key>
	<string>S_commaaccent.ss07.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Tcommaaccent.ss07</key>
	<string>T_commaaccent.ss07.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ubreve</key>
	<string>U_breve.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Udieresis.ss07</key>
	<string>U_dieresis.ss07.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>Utilde</key>
	<string>U_tilde.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wdieresis</key>
	<string>W_dieresis.glif</string>
	<key>Wdieresis.ss07</key>
	<string>W_dieresis.ss07.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Yacute.ss02</key>
	<string>Y_acute.ss02.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ycircumflex.ss02</key>
	<string>Y_circumflex.ss02.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydieresis.ss02</key>
	<string>Y_dieresis.ss02.glif</string>
	<key>Ydieresis.ss02.ss07</key>
	<string>Y_dieresis.ss02.ss07.glif</string>
	<key>Ydieresis.ss07</key>
	<string>Y_dieresis.ss07.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Ygrave.ss02</key>
	<string>Y_grave.ss02.glif</string>
	<key>Ytilde</key>
	<string>Y_tilde.glif</string>
	<key>Ytilde.ss02</key>
	<string>Y_tilde.ss02.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>Zdotaccent.ss07</key>
	<string>Z_dotaccent.ss07.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.ss04</key>
	<string>a.ss04.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.ss04</key>
	<string>aacute.ss04.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.ss04</key>
	<string>abreve.ss04.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.ss04</key>
	<string>acircumflex.ss04.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.ss04</key>
	<string>adieresis.ss04.glif</string>
	<key>adieresis.ss04.ss07</key>
	<string>adieresis.ss04.ss07.glif</string>
	<key>adieresis.ss07</key>
	<string>adieresis.ss07.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>aeacute</key>
	<string>aeacute.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.ss04</key>
	<string>agrave.ss04.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.ss04</key>
	<string>amacron.ss04.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.ss04</key>
	<string>aogonek.ss04.glif</string>
	<key>apostrophemod</key>
	<string>apostrophemod.glif</string>
	<key>apostrophemod.ss07</key>
	<string>apostrophemod.ss07.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.ss04</key>
	<string>aring.ss04.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterisk.ss06</key>
	<string>asterisk.ss06.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.case</key>
	<string>at.case.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.ss04</key>
	<string>atilde.ss04.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>backslash.case</key>
	<string>backslash.case.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bar.case</key>
	<string>bar.case.glif</string>
	<key>bitcoin</key>
	<string>bitcoin.glif</string>
	<key>blackCircle</key>
	<string>blackC_ircle.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.case</key>
	<string>braceleft.case.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.case</key>
	<string>braceright.case.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.case</key>
	<string>bracketleft.case.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.case</key>
	<string>bracketright.case.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cdotaccent.ss07</key>
	<string>cdotaccent.ss07.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.ss07</key>
	<string>colon.ss07.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.ss07</key>
	<string>comma.ss07.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>commaaccentcomb.ss07</key>
	<string>commaaccentcomb.ss07.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcaron.ss07</key>
	<string>dcaron.ss07.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.ss07</key>
	<string>dieresis.ss07.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccent.ss07</key>
	<string>dotaccent.ss07.glif</string>
	<key>downArrow</key>
	<string>downA_rrow.glif</string>
	<key>downArrow.case</key>
	<string>downA_rrow.case.glif</string>
	<key>downArrow.ss08</key>
	<string>downA_rrow.ss08.glif</string>
	<key>downArrow.ss08.case</key>
	<string>downA_rrow.ss08.case.glif</string>
	<key>downTipLeftArrow</key>
	<string>downT_ipL_eftA_rrow.glif</string>
	<key>downTipLeftArrow.case</key>
	<string>downT_ipL_eftA_rrow.case.glif</string>
	<key>downTipLeftArrow.ss08</key>
	<string>downT_ipL_eftA_rrow.ss08.glif</string>
	<key>downTipLeftArrow.ss08.case</key>
	<string>downT_ipL_eftA_rrow.ss08.case.glif</string>
	<key>downTipRightArrow</key>
	<string>downT_ipR_ightA_rrow.glif</string>
	<key>downTipRightArrow.case</key>
	<string>downT_ipR_ightA_rrow.case.glif</string>
	<key>downTipRightArrow.ss08</key>
	<string>downT_ipR_ightA_rrow.ss08.glif</string>
	<key>downTipRightArrow.ss08.case</key>
	<string>downT_ipR_ightA_rrow.ss08.case.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edieresis.ss07</key>
	<string>edieresis.ss07.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotaccent.ss07</key>
	<string>edotaccent.ss07.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.blackCircled</key>
	<string>eight.blackC_ircled.glif</string>
	<key>eight.circled</key>
	<string>eight.circled.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>eight.tf</key>
	<string>eight.tf.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>ellipsis.ss07</key>
	<string>ellipsis.ss07.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.case</key>
	<string>emdash.case.glif</string>
	<key>emptyset</key>
	<string>emptyset.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.case</key>
	<string>endash.case.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>etilde</key>
	<string>etilde.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.ss06</key>
	<string>exclam.ss06.glif</string>
	<key>exclam.ss06.ss07</key>
	<string>exclam.ss06.ss07.glif</string>
	<key>exclam.ss07</key>
	<string>exclam.ss07.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.case</key>
	<string>exclamdown.case.glif</string>
	<key>exclamdown.ss06</key>
	<string>exclamdown.ss06.glif</string>
	<key>exclamdown.ss06.case</key>
	<string>exclamdown.ss06.case.glif</string>
	<key>exclamdown.ss06.ss07</key>
	<string>exclamdown.ss06.ss07.glif</string>
	<key>exclamdown.ss06.ss07.case</key>
	<string>exclamdown.ss06.ss07.case.glif</string>
	<key>exclamdown.ss07</key>
	<string>exclamdown.ss07.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f.liga</key>
	<string>f_f.liga.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.blackCircled</key>
	<string>five.blackC_ircled.glif</string>
	<key>five.circled</key>
	<string>five.circled.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>five.tf</key>
	<string>five.tf.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.blackCircled</key>
	<string>four.blackC_ircled.glif</string>
	<key>four.blackCircled.ss05</key>
	<string>four.blackC_ircled.ss05.glif</string>
	<key>four.circled</key>
	<string>four.circled.glif</string>
	<key>four.circled.ss05</key>
	<string>four.circled.ss05.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.dnom.ss05</key>
	<string>four.dnom.ss05.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>four.numr.ss05</key>
	<string>four.numr.ss05.glif</string>
	<key>four.ss05</key>
	<string>four.ss05.glif</string>
	<key>four.tf</key>
	<string>four.tf.glif</string>
	<key>four.tf.ss05</key>
	<string>four.tf.ss05.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gcommaaccent.ss07</key>
	<string>gcommaaccent.ss07.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>gdotaccent.ss07</key>
	<string>gdotaccent.ss07.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gmacron</key>
	<string>gmacron.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetleft.case</key>
	<string>guillemetleft.case.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guillemetright.case</key>
	<string>guillemetright.case.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.case</key>
	<string>guilsinglleft.case.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.case</key>
	<string>guilsinglright.case.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.case</key>
	<string>hyphen.case.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss07</key>
	<string>i.ss07.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idieresis.ss07</key>
	<string>idieresis.ss07.glif</string>
	<key>idotaccent</key>
	<string>idotaccent.glif</string>
	<key>idotaccent.ss07</key>
	<string>idotaccent.ss07.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>ij.ss07</key>
	<string>ij.ss07.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>increment</key>
	<string>increment.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>iogonek.ss07</key>
	<string>iogonek.ss07.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.ss07</key>
	<string>j.ss07.glif</string>
	<key>jacute</key>
	<string>jacute.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kcommaaccent.ss07</key>
	<string>kcommaaccent.ss07.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcaron.ss07</key>
	<string>lcaron.ss07.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>lcommaaccent.ss07</key>
	<string>lcommaaccent.ss07.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>ldot.ss07</key>
	<string>ldot.ss07.glif</string>
	<key>leftArrow</key>
	<string>leftA_rrow.glif</string>
	<key>leftArrow.case</key>
	<string>leftA_rrow.case.glif</string>
	<key>leftArrow.ss08</key>
	<string>leftA_rrow.ss08.glif</string>
	<key>leftArrow.ss08.case</key>
	<string>leftA_rrow.ss08.case.glif</string>
	<key>leftHookArrow</key>
	<string>leftH_ookA_rrow.glif</string>
	<key>leftHookArrow.case</key>
	<string>leftH_ookA_rrow.case.glif</string>
	<key>leftHookArrow.ss08</key>
	<string>leftH_ookA_rrow.ss08.glif</string>
	<key>leftHookArrow.ss08.case</key>
	<string>leftH_ookA_rrow.ss08.case.glif</string>
	<key>leftRightArrow</key>
	<string>leftR_ightA_rrow.glif</string>
	<key>leftRightArrow.case</key>
	<string>leftR_ightA_rrow.case.glif</string>
	<key>leftRightArrow.ss08</key>
	<string>leftR_ightA_rrow.ss08.glif</string>
	<key>leftRightArrow.ss08.case</key>
	<string>leftR_ightA_rrow.ss08.case.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>liraTurkish</key>
	<string>liraT_urkish.glif</string>
	<key>literSign</key>
	<string>literS_ign.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>micro</key>
	<string>micro.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>napostrophe.ss07</key>
	<string>napostrophe.ss07.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>ncommaaccent.ss07</key>
	<string>ncommaaccent.ss07.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.blackCircled</key>
	<string>nine.blackC_ircled.glif</string>
	<key>nine.circled</key>
	<string>nine.circled.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>nine.tf</key>
	<string>nine.tf.glif</string>
	<key>nonbreakinghyphen</key>
	<string>nonbreakinghyphen.glif</string>
	<key>northEastArrow</key>
	<string>northE_astA_rrow.glif</string>
	<key>northEastArrow.case</key>
	<string>northE_astA_rrow.case.glif</string>
	<key>northEastArrow.ss08</key>
	<string>northE_astA_rrow.ss08.glif</string>
	<key>northEastArrow.ss08.case</key>
	<string>northE_astA_rrow.ss08.case.glif</string>
	<key>northWestArrow</key>
	<string>northW_estA_rrow.glif</string>
	<key>northWestArrow.case</key>
	<string>northW_estA_rrow.case.glif</string>
	<key>northWestArrow.ss08</key>
	<string>northW_estA_rrow.ss08.glif</string>
	<key>northWestArrow.ss08.case</key>
	<string>northW_estA_rrow.ss08.case.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numero</key>
	<string>numero.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odieresis.ss07</key>
	<string>odieresis.ss07.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.blackCircled</key>
	<string>one.blackC_ircled.glif</string>
	<key>one.blackCircled.ss05</key>
	<string>one.blackC_ircled.ss05.glif</string>
	<key>one.circled</key>
	<string>one.circled.glif</string>
	<key>one.circled.ss05</key>
	<string>one.circled.ss05.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.dnom.ss05</key>
	<string>one.dnom.ss05.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>one.numr.ss05</key>
	<string>one.numr.ss05.glif</string>
	<key>one.ss05</key>
	<string>one.ss05.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>oneeighth.ss05</key>
	<string>oneeighth.ss05.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onehalf.ss05</key>
	<string>onehalf.ss05.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onequarter.ss05</key>
	<string>onequarter.ss05.glif</string>
	<key>onethird</key>
	<string>onethird.glif</string>
	<key>onethird.ss05</key>
	<string>onethird.ss05.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslash.ss03</key>
	<string>oslash.ss03.glif</string>
	<key>oslashacute</key>
	<string>oslashacute.glif</string>
	<key>oslashacute.ss03</key>
	<string>oslashacute.ss03.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.case</key>
	<string>parenleft.case.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.case</key>
	<string>parenright.case.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.ss07</key>
	<string>period.ss07.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.ss07</key>
	<string>periodcentered.ss07.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>published</key>
	<string>published.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.ss06</key>
	<string>question.ss06.glif</string>
	<key>question.ss06.ss07</key>
	<string>question.ss06.ss07.glif</string>
	<key>question.ss07</key>
	<string>question.ss07.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.case</key>
	<string>questiondown.case.glif</string>
	<key>questiondown.ss03.ss07.case</key>
	<string>questiondown.ss03.ss07.case.glif</string>
	<key>questiondown.ss06</key>
	<string>questiondown.ss06.glif</string>
	<key>questiondown.ss06.case</key>
	<string>questiondown.ss06.case.glif</string>
	<key>questiondown.ss06.ss07</key>
	<string>questiondown.ss06.ss07.glif</string>
	<key>questiondown.ss07</key>
	<string>questiondown.ss07.glif</string>
	<key>questiondown.ss07.case</key>
	<string>questiondown.ss07.case.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblbase.ss07</key>
	<string>quotedblbase.ss07.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft.ss07</key>
	<string>quotedblleft.ss07.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotedblright.ss07</key>
	<string>quotedblright.ss07.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.ss07</key>
	<string>quoteleft.ss07.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quoteright.ss07</key>
	<string>quoteright.ss07.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesinglbase.ss07</key>
	<string>quotesinglbase.ss07.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r_f.liga</key>
	<string>r_f.liga.glif</string>
	<key>r_t.liga</key>
	<string>r_t.liga.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>rcommaaccent.ss07</key>
	<string>rcommaaccent.ss07.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rightArrow</key>
	<string>rightA_rrow.glif</string>
	<key>rightArrow.case</key>
	<string>rightA_rrow.case.glif</string>
	<key>rightArrow.ss08</key>
	<string>rightA_rrow.ss08.glif</string>
	<key>rightArrow.ss08.case</key>
	<string>rightA_rrow.ss08.case.glif</string>
	<key>rightHookArrow</key>
	<string>rightH_ookA_rrow.glif</string>
	<key>rightHookArrow.case</key>
	<string>rightH_ookA_rrow.case.glif</string>
	<key>rightHookArrow.ss08</key>
	<string>rightH_ookA_rrow.ss08.glif</string>
	<key>rightHookArrow.ss08.case</key>
	<string>rightH_ookA_rrow.ss08.case.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeI_ndian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>schwa</key>
	<string>schwa.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>scommaaccent.ss07</key>
	<string>scommaaccent.ss07.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon.ss07</key>
	<string>semicolon.ss07.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.blackCircled</key>
	<string>seven.blackC_ircled.glif</string>
	<key>seven.circled</key>
	<string>seven.circled.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>seven.tf</key>
	<string>seven.tf.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.blackCircled</key>
	<string>six.blackC_ircled.glif</string>
	<key>six.circled</key>
	<string>six.circled.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>six.tf</key>
	<string>six.tf.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slash.case</key>
	<string>slash.case.glif</string>
	<key>southEastArrow</key>
	<string>southE_astA_rrow.glif</string>
	<key>southEastArrow.case</key>
	<string>southE_astA_rrow.case.glif</string>
	<key>southEastArrow.ss08</key>
	<string>southE_astA_rrow.ss08.glif</string>
	<key>southEastArrow.ss08.case</key>
	<string>southE_astA_rrow.ss08.case.glif</string>
	<key>southWestArrow</key>
	<string>southW_estA_rrow.glif</string>
	<key>southWestArrow.case</key>
	<string>southW_estA_rrow.case.glif</string>
	<key>southWestArrow.ss08</key>
	<string>southW_estA_rrow.ss08.glif</string>
	<key>southWestArrow.ss08.case</key>
	<string>southW_estA_rrow.ss08.case.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t_t.liga</key>
	<string>t_t.liga.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcaron.ss07</key>
	<string>tcaron.ss07.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>tcommaaccent.ss07</key>
	<string>tcommaaccent.ss07.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.blackCircled</key>
	<string>three.blackC_ircled.glif</string>
	<key>three.circled</key>
	<string>three.circled.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>three.tf</key>
	<string>three.tf.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threequarters.ss05</key>
	<string>threequarters.ss05.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.blackCircled</key>
	<string>two.blackC_ircled.glif</string>
	<key>two.circled</key>
	<string>two.circled.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>two.tf</key>
	<string>two.tf.glif</string>
	<key>twothirds</key>
	<string>twothirds.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresis.ss07</key>
	<string>udieresis.ss07.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>upArrow</key>
	<string>upA_rrow.glif</string>
	<key>upArrow.case</key>
	<string>upA_rrow.case.glif</string>
	<key>upArrow.ss08</key>
	<string>upA_rrow.ss08.glif</string>
	<key>upArrow.ss08.case</key>
	<string>upA_rrow.ss08.case.glif</string>
	<key>upDownArrow</key>
	<string>upD_ownA_rrow.glif</string>
	<key>upDownArrow.case</key>
	<string>upD_ownA_rrow.case.glif</string>
	<key>upDownArrow.ss08</key>
	<string>upD_ownA_rrow.ss08.glif</string>
	<key>upDownArrow.ss08.case</key>
	<string>upD_ownA_rrow.ss08.case.glif</string>
	<key>upTipLeftArrow</key>
	<string>upT_ipL_eftA_rrow.glif</string>
	<key>upTipLeftArrow.case</key>
	<string>upT_ipL_eftA_rrow.case.glif</string>
	<key>upTipLeftArrow.ss08</key>
	<string>upT_ipL_eftA_rrow.ss08.glif</string>
	<key>upTipLeftArrow.ss08.case</key>
	<string>upT_ipL_eftA_rrow.ss08.case.glif</string>
	<key>upTipRightArrow</key>
	<string>upT_ipR_ightA_rrow.glif</string>
	<key>upTipRightArrow.case</key>
	<string>upT_ipR_ightA_rrow.case.glif</string>
	<key>upTipRightArrow.ss08</key>
	<string>upT_ipR_ightA_rrow.ss08.glif</string>
	<key>upTipRightArrow.ss08.case</key>
	<string>upT_ipR_ightA_rrow.ss08.case.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wdieresis.ss07</key>
	<string>wdieresis.ss07.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>whiteCircle</key>
	<string>whiteC_ircle.glif</string>
	<key>won</key>
	<string>won.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.ss02</key>
	<string>y.ss02.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yacute.ss02</key>
	<string>yacute.ss02.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ycircumflex.ss02</key>
	<string>ycircumflex.ss02.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydieresis.ss02</key>
	<string>ydieresis.ss02.glif</string>
	<key>ydieresis.ss02.ss07</key>
	<string>ydieresis.ss02.ss07.glif</string>
	<key>ydieresis.ss07</key>
	<string>ydieresis.ss07.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>ygrave.ss02</key>
	<string>ygrave.ss02.glif</string>
	<key>ytilde</key>
	<string>ytilde.glif</string>
	<key>ytilde.ss02</key>
	<string>ytilde.ss02.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zdotaccent.ss07</key>
	<string>zdotaccent.ss07.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.blackCircled</key>
	<string>zero.blackC_ircled.glif</string>
	<key>zero.blackCircled.zero</key>
	<string>zero.blackC_ircled.zero.glif</string>
	<key>zero.circled</key>
	<string>zero.circled.glif</string>
	<key>zero.circled.zero</key>
	<string>zero.circled.zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.dnom.zero</key>
	<string>zero.dnom.zero.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zero.numr.zero</key>
	<string>zero.numr.zero.glif</string>
	<key>zero.tf</key>
	<string>zero.tf.glif</string>
	<key>zero.tf.zero</key>
	<string>zero.tf.zero.glif</string>
	<key>zero.zero</key>
	<string>zero.zero.glif</string>
</dict>
</plist>
